{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.json", "*.yaml", "*.prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
