# This is a basic workflow to help you get started with Actions

name: validate

# Controls when the workflow will run
on:
    pull_request:

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    install:
        runs-on: ubuntu-latest

        permissions:
            packages: write

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Login to GHCR
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push athena image
              run: |
                  /usr/bin/docker buildx build \
                    --cache-from type=registry,ref=ghcr.io/samizdapp/athena:${{ github.event.before }} \
                    --cache-from type=registry,ref=ghcr.io/samizdapp/athena:develop \
                    --cache-to type=inline \
                    --tag ghcr.io/samizdapp/athena:${{ github.sha }} \
                    --push \
                    .

            - name: Build validate image
              run: |
                  docker build . \
                    -f .github/workflows/validate.Dockerfile \
                    --build-arg VERSION=${{ github.sha }} \
                    --tag samizdapp/athena-validate:latest

    # This workflow contains a single job called "build"
    build:
        needs: install

        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            - name: affected:build
              run: |
                  docker run \
                    --rm \
                    --entrypoint npm \
                    samizdapp/athena-build:latest \
                    run nx -- affected --target=build --base=${{ github.event.pull_request.base.sha }}

    lint:
        needs: install

        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        container: samizdapp/athena-validate:latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            - name: lint
              run: npm run nx -- affected --target=lint  --base=${{ github.event.pull_request.base.sha }} --max-warnings=0

    format-check:
        needs: install

        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        container: ghcr.io/samizdapp/athena:${{ github.sha }}

        defaults:
            run:
                working-directory: /usr/src/athena

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: format:check
              run: npm run nx -- format:check  --base=${{ github.event.pull_request.base.sha }}
